extends base

block append head
  script(src='https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.js')
  link(href='https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css' rel='stylesheet')

block content
  main.main
    .card-container
    
      each cloth in cloths
        .card
          .card__header
            .card__picture
              .card__picture-overlay &nbsp;
              img.card__picture-img(src=`/image/${cloth.img[0]}`, alt=`${cloth.name}`)
            h3.heading-tertirary
              span= cloth.name

          .card__details
            if(cloth.tags.length > 0)
              each tag in cloth.tags
                p.card__text= tag

          .card__footer
            p
              span.card__footer-value= `LKR ${cloth.price}`
              | 
              span.card__footer-text per person
            p.card__ratings
              span.card__footer-value= cloth.ratingsAverage
              | 
              span.card__footer-text= `rating (${cloth.ratingsQuantity})`
            a.btn.btn--green.btn--small(href=`/${cloth._id}`) Details