extends base
include _reviewCard

mixin navItem(link, text, icon, active)
  li(class=`${active ? 'side-nav--active' : ''}`)
    a(href=`${link}`)
      svg
        use(xlink:href=`img/icons.svg#icon-${icon}`)
      | #{text}

block content
  main.main
    .user-view
      nav.user-view__menu
        ul.side-nav
          +navItem('/me', 'Me', 'settings')
          +navItem('/order', 'My Orders', 'briefcase')
          +navItem('/reviews', 'My reviews', 'star')
          +navItem(`/Billing`, 'Billing', 'credit-card', true)
      .user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Your account settings
          
          //- WITHOUT API
          //- form.form.form-user-data(action='/submit-user-data' method='POST' enctype='multipart/form-data')
          
          //- WITH API
          form.form(action="#" method="POST")
            .content-bar
              each review in reviews
                if(review)
                  .itemtitle=review.rating
                  .itemstock=review._id
                  .itemprice=review.review

            .form__group.right
              button.btn.btn--small.btn--green Save settings
              
        .line &nbsp;
        
        .user-view__form-container
         
